.main-photo, .bienvenido, .videofb, .carta-containermobile, body .logoh, .comentario-container, .comentario-containermobile {
  display: flex;
  justify-content: center; }

.carta-container .carta, .carta-container .cartamobile, .carta-containermobile .cartamobile {
  width: 100%;
  height: 100%; }

.comentario-container .comentario-footer, .comentario-containermobile .comentario-footermobile {
  display: inline;
  color: #f8cc32;
  border: 2px dotted #f8cc32;
  font-family: 'Akshar', sans-serif; }

* {
  margin: 0; }

/* Inicio header*/
.photo {
  width: 250px; }
  .photo .logo-main {
    width: 100%;
    transition: all 2s;
    z-index: 3; }
  .photo .logo-main:hover {
    transform: scale(1.3); }

.bienvenido p {
  color: #f8cc32;
  font-family: 'Akshar', sans-serif; }

/* Fin header*/
.resumen {
  display: flex;
  justify-content: center;
  border: double 4px;
  margin-top: 15px;
  color: #f8cc32;
  background-color: #050505; }

.resumen p {
  margin-top: 10px;
  margin-bottom: 10px; }

/* Inicio Imagen del medio*/
.carousel {
  margin-top: 15px; }

.img-present {
  height: 400px;
  object-fit: cover; }

/* Final Imagen del medio*/
/* Inicio video */
.videofb {
  margin-top: 20px; }

.video-mapa {
  display: flex;
  justify-content: space-around; }

/* Final video */
.main-photo, .bienvenido, .videofb, .carta-containermobile, body .logoh, .comentario-container, .comentario-containermobile {
  display: flex;
  justify-content: center; }

.carta-container .carta, .carta-container .cartamobile, .carta-containermobile .cartamobile {
  width: 100%;
  height: 100%; }

.comentario-container .comentario-footer, .comentario-containermobile .comentario-footermobile {
  display: inline;
  color: #f8cc32;
  border: 2px dotted #f8cc32;
  font-family: 'Akshar', sans-serif; }

.menu {
  display: grid;
  justify-content: space-around;
  font-family: 'Akshar', sans-serif;
  grid-template-areas: "hamburguesaT alitasT"              "salchipapasT broasterT" "complementosT bebidasT"; }
  .menu span {
    color: #f8cc32;
    font-size: 50px; }
    .menu span svg {
      transition: all 2s; }
    .menu span svg:hover {
      transform: scale(1.2); }
  .menu .hamburguesa {
    grid-area: hamburguesaT;
    justify-content: space-around; }
    .menu .hamburguesa .hamburguesa-main {
      background-color: #f8cc32;
      border-radius: 12px;
      margin-top: 10px;
      height: 60px; }
    .menu .hamburguesa .parrafo {
      display: inline; }
  .menu .alitas {
    grid-area: alitasT; }
    .menu .alitas .alitas-img {
      background-color: #f8cc32;
      border-radius: 12px;
      margin-top: 10px;
      height: 60px; }
  .menu .salchipapas {
    grid-area: salchipapasT; }
    .menu .salchipapas .salchipapas-img {
      background-color: #f8cc32;
      border-radius: 12px;
      margin-top: 10px;
      height: 60px; }
  .menu .broaster {
    grid-area: broasterT; }
    .menu .broaster .broaster-img {
      background-color: #f8cc32;
      border-radius: 12px;
      margin-top: 10px;
      height: 60px; }
  .menu .complementos {
    grid-area: complementosT; }
    .menu .complementos .complementos-img {
      background-color: #f8cc32;
      border-radius: 12px;
      margin-top: 10px;
      height: 60px; }
  .menu .bebidas {
    grid-area: bebidasT; }
    .menu .bebidas .bebidas-img {
      background-color: #f8cc32;
      border-radius: 4px;
      margin-top: 10px;
      height: 60px; }
  .menu .titulo-carta::after {
    background: #f8cc32;
    content: '';
    display: block;
    height: 3px;
    margin-top: 10px;
    width: 75%; }
  .menu .carta-menu {
    margin-top: 10px;
    color: #F6F3F3;
    list-style: none; }
    .menu .carta-menu .precio {
      color: #f8cc32;
      font-size: 33px; }
  .menu div a {
    color: #f8cc32; }

hr {
  color: #F6F3F3;
  opacity: 1; }

.carta-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.conocenos-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around; }
  .conocenos-container .card-mobile {
    color: #f8cc32;
    background-color: #050505; }
  .conocenos-container .card {
    color: #f8cc32;
    background-color: #050505; }
  .conocenos-container .card-body {
    background-color: #050505; }
  .conocenos-container .card-img-top {
    height: 250px; }

.resumen-promociones {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: 'Akshar', sans-serif;
  color: #F6F3F3;
  background-color: #050505; }

.promociones-container {
  font-family: 'Akshar', sans-serif;
  margin: 10px;
  border: solid 4px;
  border-color: #f8cc32; }
  .promociones-container .accordion-flush .accordion-item .accordion-button {
    background-color: #050505; }
  .promociones-container .accordion-button:focus {
    border-color: #f8cc32;
    color: #F6F3F3; }
  .promociones-container .acordion {
    height: 40px; }
  .promociones-container .accordion-button {
    color: #F6F3F3; }
  .promociones-container .accordion-item {
    background-color: #050505;
    color: #F6F3F3; }
  .promociones-container .accordion-button::after {
    background-color: #f8cc32; }
  .promociones-container div a {
    color: #f8cc32; }

.atencion {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: 'Akshar', sans-serif;
  color: #f8cc32;
  background-color: #050505; }

.parrafo-zona {
  margin-top: 10px; }
  .parrafo-zona .zona-parrafo {
    display: flex;
    justify-content: center;
    color: #f8cc32;
    border: 2px solid #f8cc32; }

.mapa-zona {
  margin-top: 10px;
  display: flex;
  justify-content: center; }

.main-photo, .bienvenido, .videofb, .carta-containermobile, body .logoh, .comentario-container, .comentario-containermobile {
  display: flex;
  justify-content: center; }

.carta-container .carta, .carta-container .cartamobile, .carta-containermobile .cartamobile {
  width: 100%;
  height: 100%; }

.comentario-container .comentario-footer, .comentario-containermobile .comentario-footermobile {
  display: inline;
  color: #f8cc32;
  border: 2px dotted #f8cc32;
  font-family: 'Akshar', sans-serif; }

/*comentario*/
.disclaimer {
  display: none !important; }

body {
  background-color: #050505; }
  body h1 {
    color: #f8cc32;
    background-color: #050505;
    border: 2px solid #f8cc32;
    display: flex;
    justify-content: center;
    font-family: 'Akshar', sans-serif; }
  body .lista {
    list-style: none; }
  body .logo {
    width: 100px;
    transition: all 1s; }
  body .logo:hover {
    transform: scale(1.5); }

/* Inicio main*/
.main-container {
  border: 2px solid #f8cc32;
  background-color: #050505;
  position: sticky;
  top: 0;
  z-index: 4;
  transition: all 2s; }
  .main-container .main-nav {
    font-family: 'Akshar', sans-serif; }
  .main-container .link {
    color: #f8cc32; }
  .main-container .botonmain {
    background-color: #f8cc32; }
  .main-container .logo-navbar {
    width: 70px;
    transition: all 2s;
    z-index: 3; }
  .main-container .logo-navbar:hover {
    transform: scale(1.3); }
  .main-container .navbar-expand-lg .navbar-collapse {
    justify-content: space-around; }

/* Final main*/
/* Inicio footer */
.navbar-footer {
  display: flex;
  justify-content: space-around;
  font-family: 'Akshar', sans-serif;
  margin-top: 35px; }

.comentario-logodecomunicacion {
  color: #f8cc32; }
  .comentario-logodecomunicacion .logosDeComunicacion {
    transition: all;
    transition-duration: 2s; }
  .comentario-logodecomunicacion .logosDeComunicacion:hover {
    transform: rotate(360deg); }

.comentario-logodecomunicacion:hover {
  color: #f8cc32; }

.comentario-container {
  margin-top: 10px; }

/* Final footer */
/* Mobile */
@media screen and (max-width: 315px) {
  .navbar .container-fluid iframe {
    display: none; } }

@media screen and (max-width: 600px) {
  .photo {
    display: none; }
  .videofb {
    display: none; }
  .comentario-container {
    display: none; }
  .carta-container {
    display: none; }
  .cartamobile {
    display: none; }
  svg {
    display: none; }
  .card-mobile {
    display: none; }
  .menu span {
    font-size: calc(7vw); }
  .promociones-container span {
    font-size: calc(7vw); }
  .hamburguesa {
    font-size: calc(5vw); }
  .alitas {
    font-size: calc(5vw); }
  .salchipapas {
    font-size: calc(5vw); }
  .broaster {
    font-size: calc(5vw); }
  .complementos {
    font-size: calc(5vw); }
  .bebidas {
    font-size: calc(5vw); }
  .menu .carta-menu .precio {
    font-size: calc(6vw); }
  .promociones-container .carta-menu .precio {
    font-size: calc(6vw); } }

@media screen and (min-width: 600px) {
  .bienvenido {
    display: none; }
  .comentario-containermobile {
    display: none; }
  .comentario-footermobile {
    display: none; }
  .carta-containermobile {
    display: none; } }

/* Mobile */
/* Tablet */
@media screen and (max-width: 900px) {
  .videofb {
    display: none; } }

/* Tablet */
/* CODIGO COMUN-FINAL */
