@import "./base/colors";
@import "./base/mixins";
.conocenos-container{
    margin-top: 10px;
    @include justifica(flex,space-around);
    .card-mobile{
        @include comentario( nth($colores,2), nth($colores,1));
    }
    .card{
        @include comentario( nth($colores,2), nth($colores,1));
    }
    .card-body{
        background-color: nth($colores, 1);
    }
    .card-img-top{
        height: 250px;
    }
}