@import "./base/colors";
@import "./base/extends";
@import "./base/mixins";
*{
    margin: 0;
}
/* Inicio header*/
.main-photo{
    @extend %contenido;
}
.photo{
    width: 250px;
    .logo-main{
    width: 100%;
    transition: all 2s;
    z-index: 3;
    }
    .logo-main:hover{
        transform: scale(1.3);
    }
}
.bienvenido{
    @extend %contenido;
    p{
        color: nth($colores,2 );
        font-family: 'Akshar', sans-serif; 
    }
}
/* Fin header*/
.resumen{
    @include justifica(flex,center);
    border: double 4px;
    margin-top: 15px;
    @include comentario( nth($colores,2), nth($colores,1));
}
.resumen p{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Inicio Imagen del medio*/
.carousel{
    margin-top: 15px;
}
.img-present{
    height: 400px;
    object-fit: cover;
}
/* Final Imagen del medio*/

/* Inicio video */
.videofb{
    margin-top: 20px;
    @extend %contenido;
}
.video-mapa{
    @include justifica(flex,space-around);
}

/* Final video */