@import "./base/colors";
@import "./base/mixins";
.promociones-container{
    font-family: 'Akshar', sans-serif;
    justify-content: center;
    .promociones{
        margin-top: 10px;
        color:nth($colores, 2);
        font-size: 25px;
        text-align: end;
    }
    .salchipapas{
        .salchipapas-img{
            @include valor(nth($colores,2),12px, 10px, 60px);
        }
    }
    span{
        margin-top: 15px;
        color: nth($colores, 2);
        font-size: 50px;
        svg{
            transition: all 2s;
        }
        svg:hover{
            transform: scale(1.2);
        }
    }
    .titulo-carta::after{
        background: nth($colores, 2);
        content: '';
        display: block;
        height: 3px;
        margin-top: 10px;
        width: 20%;
        }
    .carta-menu{
        margin-top: 10px;
        color: nth($colores, 3)	;
        list-style: none;
        .precio{
            color:nth($colores, 2);
            font-size: 33px;
        }
    }
    div a {
        font-size: 25px;
        color: nth($colores, 2);
    }
}