@import "./base/colors";
@import "./base/mixins";
.resumen-promociones{
    @include justifica(flex,center);
    margin-top: 15px;
    font-family: 'Akshar', sans-serif;
    @include comentario( nth($colores,3), nth($colores,1));
}
.promociones-container{
    font-family: 'Akshar', sans-serif;
    margin: 10px;
    border: solid 4px;
    border-color:nth($colores, 2) ;
    .accordion-flush .accordion-item .accordion-button{
        background-color: nth($colores,1);
    }
    .accordion-button:focus{
        border-color:nth($colores, 2) ;
        color:nth($colores, 3);
    }
    .acordion{
        height: 40px;
    }
    .accordion-button{
        color:nth($colores, 3);
    }
    .accordion-item{
        background-color: nth($colores,1);
        color:nth($colores, 3);
    }
    .accordion-button::after{
        background-color: nth($colores,2)
    }
    div a {
        color: nth($colores, 2);
    }
}
.atencion{
    @include justifica(flex,center);
    margin-top: 15px;
    font-family: 'Akshar', sans-serif;
    @include comentario( nth($colores,2), nth($colores,1));
}