@import "./base/colors";
@import "./base/mixins";
.parrafo-zona{
    margin-top: 10px;
    .zona-parrafo{
        @include justifica(flex,center);
        color: nth($colores, 2);
        border: 2px solid nth($colores, 2);
    }
}
.mapa-zona{
    margin-top: 10px;
    @include justifica(flex,center);
}