@import "./base/colors";
.parrafo-zona{
    margin-top: 10px;
    .zona-parrafo{
        display: flex;
        justify-content: center;
        color: nth($colores, 2);
        border: 2px solid nth($colores, 2);
    }
}
.mapa-zona{
    margin-top: 10px;
    justify-content: center;
    display: flex;
}