
@import "index";
@import "menu";
@import "conocenos";
@import "promociones";
@import "zonasDeReparto";
@import "./base/colors";
@import "./base/extends";
/*comentario*/
.disclaimer{
    display: none !important;
}
body{
    background-color: nth($colores, 1);
    h1{
        color: nth($colores, 2);
        background-color:nth($colores, 1);
        border: 2px solid nth($colores, 2);
        @include justifica(flex,center);
        font-family: 'Akshar', sans-serif;
    }
    .logoh{
        @extend %contenido
    }
    .lista{
        list-style: none;
    }
    .logo{
        width: 100px;
        transition: all 1s;
    }
    .logo:hover{
        transform:scale(1.5);
    }
}
/* Inicio main*/
.main-container{
    border: 2px solid nth($colores, 2);
    background-color:nth($colores, 1) ;
    position: sticky;
    top: 0;
    z-index: 4;
    transition: all 2s;
    .main-nav{
        font-family: 'Akshar', sans-serif;
    }
    .link{
        color: nth($colores, 2);
    }
    .botonmain{
        background-color: nth($colores, 2);
    }
    .logo-navbar{
        width: 70px;
        transition: all 2s;
        z-index: 3;
    }
    .logo-navbar:hover{
        transform: scale(1.3);
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: space-around;
    }
}
/* Final main*/

/* Inicio footer */
.navbar-footer{
    @include justifica(flex,space-around);
    font-family: 'Akshar', sans-serif;
    margin-top: 35px;
}
.comentario-logodecomunicacion{
    color: nth($colores, 2);
    .logosDeComunicacion{
        transition: all;
        transition-duration: 2s;
    }
    .logosDeComunicacion:hover{
        transform:rotate(360deg);
    }
}
.comentario-logodecomunicacion:hover{
    color: nth($colores, 2);
}
.comentario-container{
    @extend %contenido;
    margin-top: 10px;
    .comentario-footer{
        @extend %comentario;
    }
}
.comentario-containermobile{
    @extend %contenido;
    .comentario-footermobile{
        @extend %comentario;
    }
}
/* Final footer */

/* Mobile */
@media screen and (max-width: 315px){
    .navbar .container-fluid iframe{
        @include vista(none);
    }
}
@media screen and (max-width: 600px){
    .photo{
        @include vista(none);
    }
    .videofb{
        @include vista(none);
    }
    .comentario-container{
        @include vista(none);
    }
    .carta-container{
        @include vista(none);
    }
    .cartamobile{
        @include vista(none);
    }
    svg{
        @include vista(none);
    }
    .card-mobile{
        @include vista(none);
    }
    .menu span{
        @include font(calc(7vw));
    }
    .promociones-container span{
        @include font(calc(7vw));
    }
    .hamburguesa{
        @include font(calc(5vw));
    }
    .alitas{
        @include font(calc(5vw));
    }
    .salchipapas{
        @include font(calc(5vw));
    }
    .broaster{
        @include font(calc(5vw));
    }
    .complementos{
        @include font(calc(5vw));
    }
    .bebidas{
        @include font(calc(5vw));
    }
    .menu .carta-menu .precio{
        @include font(calc(6vw));
    }
    .promociones-container .carta-menu .precio{
        @include font(calc(6vw));
    }

}
@media screen and (min-width: 600px) {
    .bienvenido{
        @include vista(none);
    }
    .comentario-containermobile{
        @include vista(none);
    }
    .comentario-footermobile{
        @include vista(none);
    }
    .carta-containermobile{
        @include vista(none);
    }
}
/* Mobile */

/* Tablet */
@media screen and (max-width: 900px){
    .videofb{
        @include vista(none);
    }
}
/* Tablet */
/* CODIGO COMUN-FINAL */