/* INDEX.HTML-INICIO */
*{
    margin: 0;
}
/* Inicio header*/
.photo{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.logo-main{
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    transition: all 2s;
}
.logo-main:hover{
    transform: scale(2);
}
.mapa{
    width: 100%;
    height: 150px;
    grid-column: 3/4;
}
/* Fin header*/

/* Inicio Imagen del medio*/
.img-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-present{
    margin: 25px;
    width: 100%;
    height: 350px;
    grid-column: 2/4;
}
/* Final Imagen del medio*/

/* Inicio video */
.videofb{
    display: flex;
    justify-content: center;
}
/* Final video */

/* INDEX.HTML-FINAL */

/* ----------------------------- */

/* MENU HTML-INICIO */
/* Inicio header-menuhtml */
.menu-container{
    display: flex;
    justify-content: center;
}
.menu{
    display: inline;
    color: #F6F3F3;
}
.carta-container{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.carta{
    width: 100%;
    height: 100%;
}
/* Final header-menuhtml */
/* MENU HTML-FINAL */

/* ----------------------------- */

/* HISTORIA HTML-INICIO */

/* Inicio section-historia */
.history{
    display: flex;
    color: #F6F3F3;
}
.producto-container{
    display: flex;
    justify-content: center;
}
.producto{
    width: 500px;
    height: 500px;
    transition: all 2s;
}
.producto:hover{
    transform: rotate(360deg);
}
/* Final section-historia */

/* HISTORIA HTML-FINAL */

/* ------------------------------ */

/* CONOCENOS HTML-INICIO */

/* Inicio section-conocenos */
.conocenos-container{
    display: flex;
    justify-content: center;
}
.conocenos{
    color: #F6F3F3;
}
/* Final section-conocenos */

/*CONOCENOS HTML-FINAL */

/* ----------------------------- */

/* PROMOCIONES HTML-INICIO */
.promociones{
    width: 100%;
    height: 100%;
}
/* PROMOCIONES HTML-FINAL */

/* ------------------------------- */

/* ZONAS DE REPARTO HTML-INICIO */
.zona-parrafo{
    display: flex;
    justify-content: center;
    color: #F8CC32;
    border: 2px solid #F8CC32;
}
/* ZONAS DE REPARTO HTML-FINAL */

/* --------------------------------- */

/* CODIGO COMUN */
body{
    background-color:#050505 ;
}
h1{
    color: #F6F3F3;
    background-color: #F8CC32;
    border: 2px solid #F6F3F3;
    display: flex ;
    justify-content: center;
    font-family: 'Akshar', sans-serif;
}
.logo{
    width: 100px;
    height: 100px;
    transition: all 1s;
}
.logo:hover{
    transform:scale(2);
}
/* Inicio main*/
.main-container{
    border: 2px solid #F8CC32;
    background-color: #050505;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: all 2s;
}
.main{
    display: flex;
    justify-content: space-around;
    font-family: 'Akshar', sans-serif;
}
.link{
    color: #F8CC32;
}
/* Final main*/

/* Inicio footer */
.logosDeComunicacion:hover{
    transform: scale(2) rotate(360deg);
}
.logosDeComunicacion{
    height: 100px;
    width: 100px;
    margin: 100px 0px 100px 0px;
    transition: all;
    transition-duration: 2s;
}
.logodecomunicacion-main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    color: #F8CC32;
}
.comentario-container{
    display: flex;
    justify-content: end;
}
.comentario{
    display: inline;
    color: #F8CC32;
    border: 2px solid #F8CC32;
}
/* Final footer */

/* CODIGO COMUN-FINAL */